<div class="projectshide">
    <div class="containerprojects">
        <section>
            <p>Project 1</p>
            <div><img src="./images/test.jpeg"></div>
            <h2>Categorie</h2>
        </section>
        <section>
            <p>Project 1</p>
            <div><img src="./images/test.jpeg"></div>
            <h2>Categorie</h2>
        </section>
        <section>
            <p>Project 1</p>
            <div><img src="./images/test.jpeg"></div>
            <h2>Categorie</h2>
        </section>
        <section>
            <p>Project 1</p>
            <div><img src="./images/test.jpeg"></div>
            <h2>Categorie</h2>
        </section>
        <section>
            <p>Project 1</p>
            <div><img src="./images/test.jpeg"></div>
            <h2>Categorie</h2>
        </section>
        <section>
            <p>Project 1</p>
            <div><img src="./images/test.jpeg"></div>
            <h2>Categorie</h2>
        </section>
        <section>
            <p>Project 1</p>
            <div><img src="./images/test.jpeg"></div>
            <h2>Categorie</h2>
        </section>
        <section>
            <p>Project 1</p>
            <div><img src="./images/test.jpeg"></div>
            <h2>Categorie</h2>
        </section>
        <section>
            <p>Project 1</p>
            <div><img src="./images/test.jpeg"></div>
            <h2>Categorie</h2>
        </section>
        <section>
            <p>Project 1</p>
            <div><img src="./images/test.jpeg"></div>
            <h2>Categorie</h2>
        </section>
        <section>
            <p>Project 1</p>
            <div><img src="./images/test.jpeg"></div>
            <h2>Categorie</h2>
        </section>
        <section>
            <p>Project 1</p>
            <div><img src="./images/test.jpeg"></div>
            <h2>Categorie</h2>
        </section>
        <section>
            <p>Project 1</p>
            <div><img src="./images/test.jpeg"></div>
            <h2>Categorie</h2>
        </section>
        <section>
            <p>Project 1</p>
            <div><img src="./images/test.jpeg"></div>
            <h2>Categorie</h2>
        </section>
        <section>
            <p>Project 1</p>
            <div><img src="./images/test.jpeg"></div>
            <h2>Categorie</h2>
        </section>
        <section>
            <p>Project 1</p>
            <div><img src="./images/test.jpeg"></div>
            <h2>Categorie</h2>
        </section>
        <section>
            <p>Project 1</p>
            <div><img src="./images/test.jpeg"></div>
            <h2>Categorie</h2>
        </section>
        <section>
            <p>Project 1</p>
            <div><img src="./images/test.jpeg"></div>
            <h2>Categorie</h2>
        </section>
    </div>
    <img src="./images/x.png" class="xprojects">
</div>