<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olivier Doornink</title>
    <link rel="stylesheet" href="./css/stylehome.css">
</head>
<body>
    {{{body}}}
    <script src="./js/script.js"></script>
</body>
</html>